<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  {{#if isPostOwner}}
    <p>
      <a href="/post/{{id}}/edit" target="_parent"><button class="btn btn-primary">Edit Post</button></a>
    </p>
  {{/if}}
</div>